<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif
    }
  </style>
</head>

<body>
  <strong>Hi, {{seller.name}}</strong>
  <p>There's a new order for you about your sales ad {{ad.title}} :)</p>
  <br />
  <strong>{{client.name}} ({{client.email}})</strong>
  <p>{{client.message}}</p>
</body>

</html>
